<h1>{{ title }} {{ dataInizio ? dataInizio.toLocaleDateString() : "" }}</h1>
<div>
  <hr />
  <div
    style="
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      border: solid 1px black;
    "
  >
    <div
      id="{{ divTaskId }}"
      style="width: 20%; margin-right: 2px; border-right: solid 1px black"
    ></div>
    <div id="{{ divGanttId }}" style="flex-grow: 1"></div>
  </div>
  <!--
  <div id="slider">
    <label>Spacing:</label>
    <input
      id="widthSlider"
      type="range"
      min="8"
      max="24"
      value="12"
      oninput="rescale()"
    />
  </div>
  -->

  <ng-template #saveNode>
    <form>
      <div>
        <label>Nome task</label>
        <input
          #inputName
          type="text"
          id="textToSave"
          name="textToSave"
          class="form-control"
        />
      </div>
      <div>
        <label>Data di inizo</label>
        <input
          #inputStart
          type="date"
          id="startToSave"
          name="startToSave"
          class="form-control"
        />
      </div>
      <div>
        <label>Durata</label>
        <input
          #inputDuration
          type="number"
          id="durationToSave"
          name="durationToSave"
          class="form-control"
        />
      </div>
      <div>
        <label>Colore</label>
        <input
          #inputColor
          type="color"
          id="colorToSave"
          name="colorToSave"
          [style.margin-left]="'.5rem'"
        />
        <ng-container *ngIf="enableSelectColors">
          <select
            #selectColor
            id="preferredColorToSave"
            name="preferredColorToSave"
          >
            <ng-container *ngFor="let color of preferredColors">
              <option value="{{ color }}">{{ color }}</option>
            </ng-container>
          </select>
        </ng-container>
      </div>
    </form>
  </ng-template>

  <app-shared-modal
    #modalShared
    (saveModal)="saveClick($event)"
    (updateModal)="updateClick($event)"
    (dataDetailChange)="dataDetailChanged($event)"
    (dataUpdateChange)="dataUpdateChanged($event)"
    (dataSaveChange)="dataSaveChanged($event)"
    [detailTemplate]="saveNode"
    [updateTemplate]="saveNode"
    [saveTemplate]="saveNode"
  ></app-shared-modal>
</div>
