<h1>{{ title }}</h1>
<div>
  {{ state.diagramNodeData | json }}
  <hr />
  <div
    style="
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: space-between;
      border: solid 1px black;
    "
  >
    <div style="width: 20%; margin-right: 2px; border-right: solid 1px black">
      <gojs-diagram
        #myTask
        [initDiagram]="initTask"
        [divClassName]="'myTaskDiv'"
        [nodeDataArray]="state.diagramNodeData"
        [linkDataArray]="state.diagramLinkData"
        [modelData]="state.diagramModelData"
        [skipsDiagramUpdate]="state.skipsDiagramUpdate"
        (modelChange)="diagramTaskModelChange($event, this)"
      >
      </gojs-diagram>
    </div>
    <div style="flex-grow: 1">
      <gojs-diagram
        #myGantt
        [initDiagram]="initGantt"
        [divClassName]="'myGanttDiv'"
        [nodeDataArray]="state.diagramNodeData"
        [linkDataArray]="state.diagramLinkData"
        [modelData]="state.diagramModelData"
        [skipsDiagramUpdate]="state.skipsDiagramUpdate"
        (modelChange)="diagramGanttModelChange($event, this)"
      >
      </gojs-diagram>
    </div>
  </div>
  <!--
  <div id="slider">
    <label>Spacing:</label>
    <input
      id="widthSlider"
      type="range"
      min="8"
      max="24"
      value="12"
      oninput="rescale()"
    />
  </div>
  -->
</div>
