<h1>Diagrammi</h1>

<hr />

<h2>Family Tree</h2>
<ul>
  <li>
    <a
      [routerLink]="['page']"
      [state]="{
      page: EnumDiagramPage.FAMILY_TREE,
      data: EnumFamilyTreeData.GIUSEPPE,
    }"
      >Giuseppe</a
    >
  </li>
</ul>

<h2>Org Tree</h2>
<ul>
  <li>
    <a
      [routerLink]="['page']"
      [state]="{
      page: EnumDiagramPage.ORG_TREE,
      data: EnumOrgTreeData.GIUSEPPE,
    }"
      >Giuseppe</a
    >
  </li>
</ul>

<h2>Kanban</h2>
<ul>
  <li>
    <a
      [routerLink]="['page']"
      [state]="{
      page: EnumDiagramPage.KANBAN_BOARD,
      data: EnumKanbanBoardData.GENERIC,
    }"
      >Generico</a
    >
  </li>
</ul>

<h2>Gantt</h2>
<ul>
  <li>
    <a
      [routerLink]="['page']"
      [state]="{
      page: EnumDiagramPage.GANTT,
      data: EnumGanttData.GENERIC,
    }"
      >Generico</a
    >
  </li>
</ul>
