/* all */
.myDiagramDiv {
  background: whitesmoke;
  height: 100%;
  border: 1px solid black;
}

.myPaletteDiv {
  background: lightcyan;
  height: 100%;
  border: 1px solid navy;
}

.myOverviewDiv {
  background: whitesmoke;
  height: 100%;
  border: 1px solid black;
}

.left {
  float: left;
  padding: .5%;
  /* margin: 15px; */
}

.box {
  border: solid 1px black;
  background: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clear {
  clear: both;
}
