<div [style.margin]="'1rem'">
  <a [routerLink]="['']">Indietro</a>
  <a
    [style.float]="'right'"
    [style.cursor]="'pointer'"
    [style.margin-right]="'.5rem'"
    class="btn btn-md btn-primary"
    (click)="cmpDiagram.download()"
    >DOWNLOAD Image</a
  >
  <a
    [style.float]="'right'"
    [style.cursor]="'pointer'"
    [style.margin-right]="'.5rem'"
    class="btn btn-md btn-primary"
    (click)="saveJson()"
    >SAVE Json</a
  >
</div>

<!--
<app-family-tree
  *ngIf="pageModel.page === EnumDiagramPage.FAMILY_TREE"
  #cmpDiagram
  [state]="data"
  [title]="title"
></app-family-tree>

<app-org-tree
  *ngIf="pageModel.page === EnumDiagramPage.ORG_TREE"
  #cmpDiagram
  [state]="data"
  [title]="title"
></app-org-tree>
-->
<app-kanban-board
  *ngIf="pageModel.page === EnumDiagramPage.KANBAN_BOARD"
  #cmpDiagram
  [diagramModel]="objModel"
  [diagramProperties]="objProperties"
></app-kanban-board>

<app-gantt
  *ngIf="pageModel.page === EnumDiagramPage.GANTT"
  #cmpDiagram
  [diagramModel]="objModel"
  [diagramProperties]="objProperties"
></app-gantt>

<div [style.margin-top]="'2rem'">
  <div [style.margin]="'1rem'">
    <button id="LoadButton" class="btn btn-sm btn-primary" (click)="loadJson()">
      LOAD Json
    </button>
  </div>
  <textarea
    #textJson
    style="width: 50%; height: 270px; margin: 1rem"
  ></textarea>
</div>
