<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#myModal"
  id="myModalOpen"
  hidden="true"
>
  Open Modal
</button>

<input
  #dataDetailFromEvent
  id="dataDetailFromEvent"
  name="dataDetailFromEvent"
  hidden="true"
  (change)="changeDataDetail($event)"
/>

<input
  #dataUpdateFromEvent
  id="dataUpdateFromEvent"
  name="dataUpdateFromEvent"
  hidden="true"
  (change)="changeDataUpdate($event)"
/>

<input
  #dataSaveFromEvent
  id="dataSaveFromEvent"
  name="dataSaveFromEvent"
  hidden="true"
  (change)="changeDataSave($event)"
/>

<!-- Modal -->
<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="myModalTitle"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalTitle">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="myModalContentUpdate">
        <ng-container [ngTemplateOutlet]="updateTemplate"></ng-container>
      </div>
      <div class="modal-body" id="myModalContentDetail">
        <ng-container [ngTemplateOutlet]="detailTemplate"></ng-container>
      </div>
      <div class="modal-body" id="myModalContentSave">
        <ng-container [ngTemplateOutlet]="saveTemplate"></ng-container>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          id="myModalClose"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          id="myModalSave"
          class="btn btn-primary"
          (click)="saveClick()"
        >
          Save changes
        </button>
        <button
          type="button"
          id="myModalUpdate"
          class="btn btn-primary"
          (click)="updateClick()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
